
.tiendasegura {
 background-color: aqua;
}
.caja{
  margin: 25;
}
.caja img{
  width: 400px
}
.boxModelDiv {
  background-color: aqua;
  width: 150px;
  height: 85px;
  overflow: hidden;
  margin-top: 50px;
  margin-left: 10px;
  border: solid 5px red;      
}
body{
  background:radial-gradient (circle,#fff,#bbb)
}
.gird-container{
  display: grid;
  grid-template-rows: 150px 150px 1fr 1fr;
  grid-template-columns: 150px 150px 150px;
  border: 3px solid #000;
  grid-gap: 10px;
  background-color: #333;
  grid-column: 3 / 4;
}
.gird-item {
  border:2px solid #000
}
.gird-item:first-child {
 background-color: aqua;
}
.gird-item:nth-child(2) {
 background-color: aqua;
}
.gird-item:nth-child(3){
 background-color: aqua;
}
p {
  color: red;
}
h1 {
  color:red
}
